.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

/* Menu container */
.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* Menu items */
.menu-item {
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #6c757d;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Active menu item */
.menu-item.active {
    background-color: #5cb85c; /* Green */
    color: white;
    border: none;
}

/* Hover effect */
.menu-item:hover {
    background-color: #5cb85c;
    color: white;
    border: none;
}

.d-flex .btn{
    background: orange;
    border: 2px solid orange;
    border-radius: 8px;
    color: #fff;
}
.d-flex .btn:hover{
    background: rgb(228, 150, 7);
    border: 2px solid rgb(228, 150, 7);
}

#right1 :hover{
    color: orange;
    transition: 300ms;
}

.row .right2 {
    margin-left: -10px;
    height: 180px;
    width: 180px;
    border-radius: 10px;
}

.container .row .col .row .col a {
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;

}

.container .row .col .row .col a :hover {
    background-color: rgb(201, 132, 5);
}
#column :hover{
    transform: scale(0.9);
    transition: 450ms;
    border-radius: 10px;
}

#items :hover {
    color: orange;
    transition: 200ms;
}




