<form method="POST">
    {{ form.csrf_token }}
    
    <h3>My Account</h3>
    <div class="tabs">
        <div class="active">1. Profile</div>
        <div>2. Education</div>
        <div>3. Work Experience</div>
        <div>4. Referee</div>
        <div>5. Summary</div>
    </div>

    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
    </div>

    <div class="form-row">
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.first_name.label }}
            {{ form.first_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.last_name.label }}
            {{ form.last_name(class="form-control") }}
        </div>
    </div>
    <button type="submit">Save</button>
    <button type="button">Next</button>
</form>